
@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<h3>Valeriy Pavluchenko</h3>
<address>
    <strong>Phone:</strong> <a>+375 44 751 19 66</a><br />
    <strong>E-mail:</strong> <a href="mailto:valeriy.pavluchenko@gmail.com">valeriy.pavluchenko@gmail.com</a><br />
    <strong>Skype:</strong> <a>valeriy.pavluchenko</a><br />
    <strong>LinkedId:</strong> <a href="https://www.linkedin.com/in/valeriypavluchenko">https://www.linkedin.com/in/valeriypavluchenko</a><br />
</address>