
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>


<p>
    Welcome to the Ideas Repository application that has been created as test task for attending
    to the Junior ASP.NET Developer position of the Forte Group developers team.
</p>
<p>
    To start use this application, you can go to the Login page and enter following test credentials:<br />
    <ul>
        <li>login: <b>admin</b>, password: <b>admin</b> to enter the system with administrators permissions</li>
        <li>login: <b>user</b>, password: <b>user</b> to enter the system with common users permissions</li>
    </ul>
    Also you can register in the system as a new user, then you will get common users permissions.
</p>
<p>
    Main roles difference is the following:
    <ul>
        <li>Each user can manage his own records: view list of his records, create new, edit and delete existing records</li>
        <li>User with administrator's permissions can view list of all records in the system and perform same actions with records as user</li>
        <li>Also administrator can restore records that have been deleted by users according to the additional requirements</li>
    </ul>
</p>
<p>
    In this project the following technologies and tools have been used :
    <ul>
        <li>Application based on ASP.NET MVC 5 platform</li>
        <li>Identity has been used for implementing authentication and authorization logic</li>
        <li>Used ORM is the Entity Framework with code-based approach</li>
        <li>For implementing IoC container I used the Ninject library</li>
        <li>Application high-level architecture based on the 3-tier model: PL, BL, DAL</li>
        <li>MS SQL Server 2012 Standard Edition used as the database server</li>
        <li>Visual Studio 2015 Community used as IDE</li>
    </ul>
</p>
<p>
    Have a good day! :)
</p>